.input{
    display: flex;
    width: 50%;
    align-items: center;
    margin: 0 auto ;
    margin-top: 5px;
}

.error{
    display: flex;
    justify-content: center;
    
}

.lable{
    width: 200px;
    
}