/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
    --app-inner-background: black;
}

.background-color{
    background-color: black;
}

.text-color{
    color: white;
}

body{
    background-color: gray;
}
